$blue:    #65bde1 !default;
@import "node_modules/bootstrap/scss/bootstrap";
.spinner-border{
  color: #65bde1;
}

.was-validated .form-control:invalid, .form-control.is-invalid,
.was-validated .form-control:valid, .form-control.is-valid,
textarea.form-control.is-valid, textarea.form-control.is-invalid{
  padding-left: calc(1.5em + 0.75rem) !important;
  padding-right: 12px !important;
  background-position: left calc(0.375em + 0.1875rem) center;
}
  